.order__searchByBrand {
	margin: 10px 30px;
	display: flex;
	align-items: center;
}
.order__searchByBrand > input {
	padding: 5px;
}
.order__searchByBrand > button {
	color: white;
	margin-left: 5px;
	background-color: #e94560;
}
.order__searchByBrand > button:hover {
	background-color: white;
	color: #e94560;
}
.order__table {
	padding: 30px;
	height: 340px !important;
	overflow: scroll;
}
.rowOdd {
	background-color: #0b3568 !important;
	font-size: 15px;
	text-align: center;
}
.rowEven {
	background-color: #2263b3 !important;
	font-size: 15px;
	text-align: center;
}
td {
	border: none !important;
	outline: none !important;
}
.order__billing > h2 {
	color: white;
	padding: 30px 30px 10px 30px;
}

.order__searchByBrandModel {
	margin: 10px 30px;
	display: flex;
	align-items: center;
}
.order__searchByBrandModel > input {
	padding: 5px;
	width: 220px;
}
.order__searchByBrandModel > button {
	color: white;
	margin-left: 5px;
	background-color: #e94560;
}
.order__searchByBrandModel > button:hover {
	background-color: white;
	color: #e94560;
}
td > input {
    text-align: center;
}
.order__total{
    margin: 20px 50px;
}