.viewInventory {
	background-color: #1d1d1d;
	margin-top: 50px;
}
table {
	/* border: 2px rgb(221, 221, 221) solid !important; */
}
th {
	/* border: 2px rgb(202, 202, 202) solid !important; */
	border: none !important;
	outline: none !important;
	text-align: center !important;
	font-size: 13px;
	background-color: #000000;
}

.viewInventory__topTable {
	padding: 30px;
	height: 500px !important;
	overflow: scroll;
}
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.viewInventory__topInput {
	margin: 10px 30px;
	display: flex;
	align-items: center;
}
.viewInventory__topInput > input {
	padding: 5px;
}
.viewInventory__topInput > button {
	color: white;
	margin-left: 5px;
	background-color: #fd3153;
}
.viewInventory__topInput > button:hover {
	background-color: white;
	color: #fd3153;
}
.viewInventory__bottom {
	padding: 30px;
}
.viewInventory__bottomCard {
	/* border: 1px white solid; */
	padding: 50px 20px;
	background-color: #1b1b1b !important;
	display: flex;
	justify-content: center;
}
.viewInventory__bottomCardListGroupItem {
	width: 400px;
	color: white;
	font-weight: bold;
	display: flex !important;
	font-size: 18px;
	border-bottom: 2px #d6d6d6 solid !important;
	background-color: #1b1b1b !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.viewInventory__bottomCardListGroupItem > span {
	padding: 5px;
}
.rowOdd {
	background-color: #ffffff !important;
	color: black;
	transition: 0.3s ease-in-out;
	font-size: 15px;
	text-align: center;
}
.rowEven {
	background-color: #e7efff !important;
	transition: 0.3s ease-in-out;
	color: black;
	font-size: 15px;
	text-align: center;
}
td {
	border: none !important;
	outline: none !important;
}
.rowOdd:hover {
	cursor: pointer;
	color: black !important;
	background-color: rgb(248, 248, 248) !important;
	transition: 0.3s ease-in-out;
}
.rowEven:hover {
	cursor: pointer;
	color: black !important;
	background-color: #dfe9ff !important;
	transition: 0.3s ease-in-out;
}
