.viewInventory__topTable {
	padding: 20px;
	height: 500px !important;
	overflow: scroll;
}
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.viewInventory__topInput {
	padding: 20px;
	display: flex;
	align-items: center;
}
.viewInventory__topInput > input {
	padding: 5px;
}
.viewInventory__topInput > button {
	color: white;
	margin-left: 5px;
	background-color: #e94560;
}
.viewInventory__topInput > button:hover {
	background-color: white;
	color: #e94560;
}
