.viewInventory {
	background-color: #16213e;
	margin-top: 50px;
}
table {
	/* border: 2px rgb(221, 221, 221) solid !important; */
}
th {
	/* border: 2px rgb(202, 202, 202) solid !important; */
	border: none !important;
	outline: none !important;
	text-align: center !important;
	font-size: 15px;
	background-color: #dd2a48;
}

.viewInventory__topTable {
	padding: 30px;
	height: 500px !important;
	overflow: scroll;
}
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.viewInventory__topInput {
	margin: 30px;
	display: flex;
	align-items: center;
}
.viewInventory__topInput > input {
	padding: 5px;
}
.viewInventory__topInput > button {
	color: white;
	margin-left: 5px;
	background-color: #e94560;
}
.viewInventory__topInput > button:hover {
	background-color: white;
	color: #e94560;
}
.viewInventory__bottom {
	padding: 50px 30px;
}
.viewInventory__bottomCard {
	border: 1px white solid;
	padding: 20px;
	background-color: #0f4d99 !important;
	display: flex;
	justify-content: center;
}
.viewInventory__bottomCardListGroupItem {
	width: 400px;
	color: white;
	font-weight: bold;
	display: flex !important;
	font-size: 18px;
	border-bottom: 2px #e94560 solid !important;
	background-color: #0f4d99 !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.viewInventory__bottomCardListGroupItem > span {
	padding: 5px;
}
.rowOdd {
	background-color: #0b3568 !important;
	font-size: 15px;
	text-align: center;
}
.rowEven {
	background-color: #2263b3 !important;
	font-size: 15px;
	text-align: center;
}
td{
	border: none !important;
	outline: none !important;
}