.footer{
    position: relative;
	bottom: 0;
	padding: 15px 25px;
	border-bottom: 2px #ff002b solid;
	background-color: #fd3758;
	color: white;

	display: flex;
	align-items: center;
    font-weight: bold;
	justify-content: center;
}