.footer {
	font-family: 'Poppins', sans-serif;
	position: relative;
	bottom: 0;
	padding: 15px 25px;
	background-color: #000000;
	color: white;

	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: center;
}
@media screen and (max-width: 768px) {
	.footer {
		bottom: -70px;
	}
}
